<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Agregar producto</h2>

      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">Completa el formulario para agregar el producto al stock</p>
    </div>

    <form id="addProductForm" class="mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2">
      <div class="sm:col-span-2">
        <label for="title" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Titulo*</label>
        <input name="title" id="title" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required/>
      </div>

      <div class="sm:col-span-2">
        <label for="description" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Descripción*</label>
        <textarea name="descrpition" id="description" class="h-64 w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required></textarea>
      </div>

      <div class="sm:col-span-2">
        <label for="code" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Código*</label>
        <input name="code" id="code" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required/>
      </div>

      <div class="sm:col-span-2">
        <label for="price" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Precio*</label>
        <input name="price" id="price" type="number" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required/>
      </div>

      <div class="sm:col-span-2">
        <label for="stock" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Stock*</label>
        <input name="stock" id="stock" type="number" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required/>
      </div>

      <div class="sm:col-span-2">
        <label for="category" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Categoría*</label>
        <input name="category" id="category" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required/>
      </div>

      <div class="sm:col-span-2">
        <label for="thumbnails" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Imagen*</label>
        <input name="thumbnails" id="thumbnails" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required/>
      </div>

      <div class="flex items-center justify-between sm:col-span-2">
        <button onclick="addProduct()" class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Agregar</button>

        <span class="text-sm text-gray-500">*Obligatorio</span>
      </div>
    </form>
  </div>
</div>

<script src="/js/addProduct.js"></script>