{{#each products}}
  <div class="product-card">
    <p class="product-title">{{this.title}}</p>
    <p class="product-description">{{this.description}}</p>
    <p class="product-price">${{this.price}}</p>
    <div>
      <button type="button" onclick="handleDeleteProduct('{{this.id}}')">Delete</button>
    </div>
  </div>
{{/each}}

<form id="addProductForm">
  <input type="text" id="title" name="title" placeholder="Title" required>
  <input type="text" id="description" name="description" placeholder="Description" required>
  <input type="number" id="price" name="price" placeholder="Price" required>
  <button type="button" onclick="handleAddProduct()">Add Product</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
